.canvas {
    height: 100%;
    width: 100%;
    position: fixed;
    pointer-events: none;
}

.line {
    height: 1px;
    width: 1px;
    background: #000000;
    position: fixed;
}

.arrow {
    position: fixed;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 12px solid black;
}
