
.leftbar{
    border-right: 1px solid #91a3d9;
    margin-left: -1px;
    width: 20%;
    height: 100%;
    float: left;
    background: #cad9f4;
}

.toc {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navbar {
    float:bottom;
    text-align:center;
    height: 30px;
    border-top: 1px solid #91a3d9;
}

.steps{
    width:100%;
}

.query{
    font-weight:bold;
}


table {
    border: none;
    border-collapse: collapse;
}

tr {
    border: none;
}

.kept {
    cursor:pointer;
}

.removed {
    cursor:pointer;
}

tr:nth-child(even){
    background: #dbe5f1;
}

tr:nth-child(odd){
    background: #cad9f4;
}

.inbox tr.kept:nth-child(even) {
    background: #d0fdb9;
}

.inbox tr.removed:nth-child(even) {
    background: #fba79f;
}

.inbox tr.kept:nth-child(odd) {
    background: #bcf0a5;
}

.inbox tr.removed:nth-child(odd) {
    background: #f1968f;
}

td {
    text-align: center;
    padding: 10px 20px 10px 20px;
}

th {
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background: #4f81bd;
    color: white;
}

.tablename {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    font-weight:bold;
    padding:5px;
}
