body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, sans-serif;
    background: #FFFFFF;
}

#bodybag {
    height: 100%;
    width: 100%;
    min-width: 800px;
    min-height: 400px;
    overflow: hidden;
}
