#modalcontainer {
    width:100%;
    height:100%;
    background: rgba(0,0,0, 0.7);
    position:absolute;
    top:0px;
    min-width: 800px;
    min-height: 400px;
    display:none;
}

#modalwindow {
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
}

#modal-workspace {
    width: 80%;
    height: 100%;
    float: left;
}

#modal-tablespace {
    width: 100%;
    height: 100%;
}

#modal-inbox {
    width: 50%;
    height: 100%;
    float: left;
}

#modal-outbox {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

#modal-namebox {
    width: 100%;
    height:20px;
    bottom: 0;
    padding-left:20px;
}

#modal-toc td{
    text-align: left;
    padding-right: 0px;
    padding-left: 30px;
    text-indent: -20px;
}

#modal-inventory {
}

#modal-inventoryheader {
    height: 30px;
    padding:5px;
    text-align: center;
    background: #d8e1f0;
    border: 1px solid #d8e1f0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
    font-weight:bold;
}

#modal-inventoryspace {
    height: 25%;
    background: #d8e1f0;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

#modal-leftbar{
    border-right: 1px solid #91a3d9;
    margin-left: -1px;
    width: 20%;
    height: 100%;
    float: left;
    background: #cad9f4;
}

#modal-toc {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modal-navbar {
    float:bottom;
    text-align:center;
    height: 30px;
    border-top: 1px solid #91a3d9;
}

#modal-steps{
    width:100%;
}


